#this is a gitignore file
venv/
.env
.venv
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*
__pycache__/
.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*